<h1>Search Results</h1>

<% @results.each do |movie| %>
	<%= movie['Title'] %><br>
	<%= movie['Year'] %>

	<%= simple_form_for [current_user, @movie] do |f| %>
		<%= f.hidden_field :title, :value => movie['Title'] %>
		<%= f.hidden_field :year, :value => movie['Year'] %>
		<%= f.hidden_field :plot, :value => movie['Plot'] %>
		<%= f.hidden_field :imdb_id, :value => movie['imdbID'] %>
		<%= f.button :submit, 'Favorite' %>
	<% end %>
	<hr>
<% end %>
